$bbtn-color: #FF484C;
$text-color: #F9FBE7;

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto;
    background-color: #2d2d2d;
    color: $text-color;
    overflow-x: hidden; 
    overflow-y: auto;
}

.error {
    text-align: center;
    h1 {
        color: $text-color;
        margin-bottom: 16px;
    }
    .msg {
        font-size: 1.25em;
    }
    .btn {
        display: inline-block;
        background-color: $bbtn-color;
        padding-top: 19px;
        padding-bottom: 19px;
        padding-right: 26px;
        padding-left: 26px;
        font-size: 18px;
        line-height: 1.33333;
        border-radius: 6px;
        vertical-align: middle;
        cursor: pointer;
        &:hover {
            background-color: lighten($bbtn-color, 2%);
            color: $text-color;

        }

        &:focus, &:active:focus, &.active:focus {
            color: $text-color;
            outline: 0 none;
        }
    }
}