
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto;
}

.app, #content {
    height: 100%;
    width: 100%;
}

.grid {
    overflow: hidden;
    border-radius: 35px;
    background-color: #2d2d2d;
    height: 100%;
    width: 100%;
}

.button-container {
    background-color: #e74c3c;
    cursor: pointer;
    float: left;
}

.text {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.text > span {
    display: table-cell;
    vertical-align: middle;
}

.highlighted {
    background-color: blue;
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

.notify {
    color: #ecf0f1;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 10vmin;
    opacity:0;
    transform: translate(-50%, -50%);
    animation-timing-function: ease-in;
    animation: fadeout 1s;
    white-space: nowrap;
}
